@import "tailwindcss";


:root {
  --color-primary: #e66b27;
  --color-secondary: #23d4fd;
  --color-accent: #1b1b1b;
  --font-sans: "Inter", sans-serif;
}

body,
html {
  font-family: "Azeret Mono", monospace;
  background-color: black;
  color: white;
}
